/* *************************** */
/*       HOJA DE ESTILOS       */
/*           CALDENS           */
/* *************************** */




/* *************************** */
/* for the 9800 (480 x 800) etc*/
/* *************************** */
@media screen and (max-width: 480px) {
    #presentacion 
    {
    font-size: 2.5em;
    margin: 0 auto;
	text-align:center;
	margin-top:5px;
	padding:5px;
	background:#fff;
	font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	line-height:100%;
    }
   	#wrap
	{
	width:95%;
	height:95%;
	margin: 0 auto;
	text-align:left;
	margin-top:5px;
	padding:5px;
	background:#fff;
	font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	font-size: 1rem;  
	line-height:100%;
	}

	#wrap .cont_details fieldset,.cont_order fieldset 
	{
	margin:10px;
	padding:20px;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	}

	#wrap legend
	{
	font-size: 0.9rem;  
	font-family:Georgia, Times New Roman, Times, serif;
	color:#000;
	font-weight:bold;
	font-style:italic;
	padding-bottom:5px;
	}

	#wrap .cont_details input
	{
	margin-bottom:10px;
	color:#000;
	}

	#wrap .input1:hover,.input1:active { }

	#wrap label {
		display:block;
		font-size: 0.8rem;  
		color:#000;
		font-weight:bold;
		width:100%;
	}

	#wrap label.inlinelabel {
		display:inline;
	}

	#wrap .cont_order input {
		margin-bottom:5px;
	}

	#wrap .cont_order p {
		padding-top:5px;
	}

	#wrap input[type="text"]:hover,

	#wrap input[type="text"]:active {
	background-color: #FAF398;
	}

	#wrap input#submit {
	margin:10px;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	}

	#wrap div#totalPrice, div#totalPrice2, div#totalPrice_mx, div#totalPrice2_mx, div#totalPrice_pr_cm, div#totalPrice2_pr_cm, div#totalPrice_pr_pul, div#totalPrice2_pr_pul, div#totalPrice_usa_cm, div#totalPrice2_usa_cm, div#totalPrice_usa_pul, div#totalPrice2_usa_pul  {
	padding:10px;
	font-weight:bold;
	background-color: #FFFF00;
	font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	font-size: 0.8rem;  
	}

	#wrap div#ayuda {
	font-size: 0.7rem;
	font-weight:bold;
	color:red;
	text-align:center;
	}
	
	#manual
	{
	font-size: 1rem;
	font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	text-align:justify;
	}
	
	#ayuda {
	font-size: 0.8rem;
	font-weight:bold;
	color:red;
	text-align:center;
	}

 }




/* *************************** */
/* for the 9900 (640 x 480) etc*/
/* *************************** */
@media screen and (max-width: 640px) {
    #presentacion {
    font-size: 2em;
    margin: 0 auto;
	text-align:center;
	margin-top:5px;
	padding:5px;
	background:#fff;
	font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	line-height:100%;
    }
    
    #wrap
	{
	width:95%;
	height:95%;
	margin: 0 auto;
	text-align:left;
	margin-top:5px;
	padding:5px;
	background:#fff;
	font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	font-size: 1.5rem;  
	line-height:100%;
	}

	#wrap .cont_details fieldset,.cont_order fieldset 
	{
	margin:10px;
	padding:20px;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	font-size: 1.5rem;
	}

	#wrap legend
	{
	font-size: 1.7rem;  
	font-family:Georgia, Times New Roman, Times, serif;
	color:#000;
	font-weight:bold;
	font-style:italic;
	padding-bottom:5px;
	}

	#wrap .cont_details input
	{
	margin-bottom:10px;
	color:#000;
	font-size: 1.5rem;
	}

	#wrap .input1:hover,.input1:active 
	{ 
	font-size: 1.5rem;
	}

	#wrap label {
		display:block;
		font-size: 1.5rem;  
		color:#000;
		font-weight:bold;
		width:100%;
	}

	#wrap label.inlinelabel {
		display:inline;
		font-size: 1.5rem;  
	}

	#wrap .cont_order input {
		margin-bottom:5px;
		font-size: 1.5rem;
	}

	#wrap .cont_order p {
		padding-top:5px;
		font-size: 1.5rem;
	}

	#wrap input[type="text"]:hover, {
		font-size: 1.5rem;
	}

	#wrap input[type="text"]:active {
		background-color: #FAF398;
		font-size: 1.5rem;
	}

	#wrap input#submit {
	margin:10px;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	font-size: 1.5rem;
	}

	#wrap div#totalPrice, div#totalPrice2, div#totalPrice_mx, div#totalPrice2_mx, div#totalPrice_pr_cm, div#totalPrice2_pr_cm, div#totalPrice_pr_pul, div#totalPrice2_pr_pul, div#totalPrice_usa_cm, div#totalPrice2_usa_cm, div#totalPrice_usa_pul, div#totalPrice2_usa_pul  {
	padding:10px;
	font-weight:bold;
	background-color: #FFFF00;
	font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	font-size: 1.5rem;  
	}

	#wrap div#ayuda {
	font-size: 1rem;
	font-weight:bold;
	color:red;
	text-align:center;
	}
	/* Este es el estilo de las páginas de ayuda identificado con id='manual'*/

	#manual
	{
	font-size: 1.5rem;
	font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	text-align:justify;
	}
	
	#ayuda {
	font-size: 1.3rem;
	font-weight:bold;
	color:red;
	text-align:center;
	}
}



/* *************************** */
/* for the 9700 (480 x 360) etc*/
/* *************************** */
@media screen and (max-width: 480px) {
    #presentacion
    {
    font-size: 1.7em;
    margin: 0 auto;
	text-align:center;
	margin-top:5px;
	padding:5px;
	background:#fff;
	font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	line-height:100%;
    }
        
    #wrap
	{
	width:95%;
	height:95%;
	margin: 0 auto;
	text-align:left;
	margin-top:5px;
	padding:5px;
	background:#fff;
	font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	font-size: 1.3rem;  
	line-height:100%;
	}

	#wrap .cont_details fieldset,.cont_order fieldset 
	{
	margin:10px;
	padding:20px;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	font-size: 1.3rem;
	}

	#wrap legend
	{
	font-size: 1.3rem;  
	font-family:Georgia, Times New Roman, Times, serif;
	color:#000;
	font-weight:bold;
	font-style:italic;
	padding-bottom:5px;
	}

	#wrap .cont_details input
	{
	margin-bottom:10px;
	color:#000;
	font-size: 1.3rem;
	}

	#wrap .input1:hover,.input1:active 
	{ 
	font-size: 1.3rem;
	}

	#wrap label {
		display:block;
		font-size: 1.3rem;  
		color:#000;
		font-weight:bold;
		width:100%;
	}

	#wrap label.inlinelabel {
		display:inline;
		font-size: 1.3rem;  
	}

	#wrap .cont_order input {
		margin-bottom:5px;
		font-size: 1.3rem;
	}

	#wrap .cont_order p {
		padding-top:5px;
		font-size: 1.3rem;
	}

	#wrap input[type="text"]:hover {
		font-size: 1.3rem;
	}

	#wrap input[type="text"]:active {
		background-color: #FAF398;
		font-size: 1.3rem;
	}

	#wrap input#submit {
	margin:10px;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	font-size: 1.3rem;
	}

	#wrap div#totalPrice, div#totalPrice2, div#totalPrice_mx, div#totalPrice2_mx, div#totalPrice_pr_cm, div#totalPrice2_pr_cm, div#totalPrice_pr_pul, div#totalPrice2_pr_pul, div#totalPrice_usa_cm, div#totalPrice2_usa_cm, div#totalPrice_usa_pul, div#totalPrice2_usa_pul  {
	padding:10px;
	font-weight:bold;
	background-color: #FFFF00;
	font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	font-size: 1.3rem;  
	}

	#wrap div#ayuda {
	font-size: 0.8rem;
	font-weight:bold;
	color:red;
	text-align:center;
	}
	
	#manual
	{
	font-size: 1.2rem;
	font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	text-align:justify;
	}
	
	#ayuda {
	font-size: 1rem;
	font-weight:bold;
	color:red;
	text-align:center;
	}

 }




/* *************************** */
/* for the Pearl 9100 (360x400)*/
/* *************************** */
@media screen and (max-width: 360px) {
    #presentacion
    {
    font-size: 1.4em;
    margin: 0 auto;
	text-align:center;
	margin-top:5px;
	padding:5px;
	background:#fff;
	font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	line-height:100%;
     }

	#wrap
	{
	width:95%;
	height:95%;
	margin: 0 auto;
	text-align:left;
	margin-top:5px;
	padding:5px;
	background:#fff;
	font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	font-size: 1rem;  
	line-height:100%;
	}

	#wrap .cont_details fieldset,.cont_order fieldset 
	{
	margin:10px;
	padding:20px;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	}

	#wrap legend
	{
	font-size: 0.9rem;  
	font-family:Georgia, Times New Roman, Times, serif;
	color:#000;
	font-weight:bold;
	font-style:italic;
	padding-bottom:5px;
	}

	#wrap .cont_details input
	{
	margin-bottom:10px;
	color:#000;
	}

	#wrap .input1:hover,.input1:active { }

	#wrap label {
		display:block;
		font-size: 0.8rem;  
		color:#000;
		font-weight:bold;
		width:100%;
	}

	#wrap label.inlinelabel {
		display:inline;
	}

	#wrap .cont_order input {
		margin-bottom:5px;
	}

	#wrap .cont_order p {
		padding-top:5px;
	}

	#wrap input[type="text"]:hover,

	#wrap input[type="text"]:active {
	background-color: #FAF398;
	}

	#wrap input#submit {
	margin:10px;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	}

	#wrap div#totalPrice, div#totalPrice2, div#totalPrice_mx, div#totalPrice2_mx, div#totalPrice_pr_cm, div#totalPrice2_pr_cm, div#totalPrice_pr_pul, div#totalPrice2_pr_pul, div#totalPrice_usa_cm, div#totalPrice2_usa_cm, div#totalPrice_usa_pul, div#totalPrice2_usa_pul  {
	padding:10px;
	font-weight:bold;
	background-color: #FFFF00;
	font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	font-size: 0.8rem;  
	}

	#ayuda {
	font-size: 0.8rem;
	font-weight:bold;
	color:red;
	text-align:center;
	}

}




/* *************************** */
/* for the 9300 (320 x 240) etc*/
/* *************************** */
@media screen and (max-width: 320px) {
    #presentacion
    {
    font-size: 1.2em;
    margin: 0 auto;
	text-align:center;
	margin-top:5px;
	padding:5px;
	background:#fff;
	font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	line-height:100%;
     }
     
	#wrap
	{
	width:95%;
	height:95%;
	margin: 0 auto;
	text-align:left;
	margin-top:5px;
	padding:5px;
	background:#fff;
	font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	font-size: 1rem;  
	line-height:100%;
	}

	#wrap .cont_details fieldset,.cont_order fieldset 
	{
	margin:10px;
	padding:20px;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	}

	#wrap legend
	{
	font-size: 0.9rem;  
	font-family:Georgia, Times New Roman, Times, serif;
	color:#000;
	font-weight:bold;
	font-style:italic;
	padding-bottom:5px;
	}

	#wrap .cont_details input
	{
	margin-bottom:10px;
	color:#000;
	}

	#wrap .input1:hover,.input1:active { }

	#wrap label {
		display:block;
		font-size: 0.8rem;  
		color:#000;
		font-weight:bold;
		width:100%;
	}

	#wrap label.inlinelabel {
		display:inline;
	}

	#wrap .cont_order input {
		margin-bottom:5px;
	}

	#wrap .cont_order p {
		padding-top:5px;
	}

	#wrap input[type="text"]:hover,

	#wrap input[type="text"]:active {
	background-color: #FAF398;
	}

	#wrap input#submit {
	margin:10px;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	}

	#wrap div#totalPrice, div#totalPrice2, div#totalPrice_mx, div#totalPrice2_mx, div#totalPrice_pr_cm, div#totalPrice2_pr_cm, div#totalPrice_pr_pul, div#totalPrice2_pr_pul, div#totalPrice_usa_cm, div#totalPrice2_usa_cm, div#totalPrice_usa_pul, div#totalPrice2_usa_pul  {
	padding:10px;
	font-weight:bold;
	background-color: #FFFF00;
	font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	font-size: 0.8rem;  
	}

	#wrap div#ayuda {
	font-size: 0.7rem;
	font-weight:bold;
	color:red;
	text-align:center;
	}

	#manual
	{
	font-size: 1rem;
	font-family:AvenirLTStd, Arial, Helvetica, sans-serif;
	text-align:justify;
	}
	
	#ayuda {
	font-size: 0.8rem;
	font-weight:bold;
	color:red;
	text-align:center;
	}

}
